
<html>
  <head>
     <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <!--<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD6FFAPbvxB1-OWHX4iOI-XiCt_FpKBno&libraries=visualization">
    </script> -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyCD6FFAPbvxB1-OWHX4iOI-XiCt_FpKBno&libraries=visualization"></script> 
     
     <style>
     
     
     #map {
       height: 90%;
       width: 80%;
       display:inline-block;
       float:right;
      }
      #stations{
          display:inline-block;
          width:20%;
          float:left;
          
      }
      
      #stationlist{
        overflow-y: scroll;
        overflow-x: scroll;
        height: 80%;
        float:left;
      }
     
     #submit{
       display:inline-block;
       float:left;
     }
   </style>
  </head>
    <h2>Maps</h2>
    <div id ="stations">
    <div id="stationlist">
        <% if (stationnames.length > 0) { 
            for(var i = 0; i < stationnames.length; i ++)
            { %>
            <div>
                <input type='checkbox'  id='<%= stationnames[i] %>' />
                <label><%= stationnames[i] %></label>
            </div>
        <%    }
            }%>
        </div>
      <div>
       <input type="button" id = "submit" value="Track" />
    </div>
    </div>
    
    <div id="map"></div>
    
  </html>
   
<script>

     $(document).ready(function(){
         
         $.ajax(
            {
                url: "callmaps",
                success: function(pos)
                   {
                  //var visiblehtml = "<img alt='Positive tweets' width='20' height='20' src='http://maps.google.com/mapfiles/ms/icons/green-dot.png'> - Positive Tweets <img alt='Negative tweets' width='20' height='20' src='http://maps.google.com/mapfiles/ms/icons/red-dot.png'> - Negative Tweets";
                  var arr = pos.data;
                  //var station = pos.stationnames;
                   arr = [];
                   var lat = 51.5073509;
                   var long = -0.1277583;
                   initMap(arr,lat,long); 
                   
                   }
          });    
         
        });
        
          var map;
           // var datarray = [{"lat":"51.5012326","lng":"-0.1622335"}];
            
            //initMap(datarray);
            
          function initMap(dataarray,lat,long) {
                      
            map = new google.maps.Map(document.getElementById('map'), {
              zoom: 16,
              //center: {lat: 51.5073509, lng: -0.1277583},
              center: {lat: lat, lng: long},
              styles: [
                    {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
                    {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                    {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
                    {
                      featureType: 'administrative.locality',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#d59563'}]
                    },
                    {
                      featureType: 'poi',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#d59563'}]
                    },
                    {
                      featureType: 'poi.park',
                      elementType: 'geometry',
                      stylers: [{color: '#263c3f'}]
                    },
                    {
                      featureType: 'poi.park',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#6b9a76'}]
                    },
                    {
                      featureType: 'road',
                      elementType: 'geometry',
                      stylers: [{color: '#38414e'}]
                    },
                    {
                      featureType: 'road',
                      elementType: 'geometry.stroke',
                      stylers: [{color: '#212a37'}]
                    },
                    {
                      featureType: 'road',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#9ca5b3'}]
                    },
                    {
                      featureType: 'road.highway',
                      elementType: 'geometry',
                      stylers: [{color: '#746855'}]
                    },
                    {
                      featureType: 'road.highway',
                      elementType: 'geometry.stroke',
                      stylers: [{color: '#1f2835'}]
                    },
                    {
                      featureType: 'road.highway',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#f3d19c'}]
                    },
                    {
                      featureType: 'transit',
                      elementType: 'geometry',
                      stylers: [{color: '#2f3948'}]
                    },
                    {
                      featureType: 'transit.station',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#d59563'}]
                    },
                    {
                      featureType: 'water',
                      elementType: 'geometry',
                      stylers: [{color: '#17263c'}]
                    },
                    {
                      featureType: 'water',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#515c6d'}]
                    },
                    {
                      featureType: 'water',
                      elementType: 'labels.text.stroke',
                      stylers: [{color: '#17263c'}]
                    }
                  ]
            });
            
            var transitLayer = new google.maps.TransitLayer();
              transitLayer.setMap(map);
            
            var infowindow = new google.maps.InfoWindow({maxWidth: 200});

            for(var o in dataarray)
            {
            
                if(dataarray[o].type == "station")
                {
                   var  marker = new google.maps.Marker({
                        position: new google.maps.LatLng(dataarray[o].lat, dataarray[o].lng),
                        map: map,
                        icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                        contentString: dataarray[o].location
                      });
                      
                      marker.addListener('click', function() {
                           infowindow.setContent(this.contentString);
                           infowindow.open(map, this);
                           map.setCenter(this.getPosition());
                        });
                }
                else if(dataarray[o].type == "restaurant")
                {
                    if( 0  < dataarray[o].postcount && dataarray[o].postcount < 30)
                    {
                         var  restmarkerlow = new google.maps.Marker({
                        position: new google.maps.LatLng(dataarray[o].lat, dataarray[o].lng),
                        map: map,
                        icon: 'lowrestaurants.png',
                        contentString: dataarray[o].location +  " (Number of Post : " + dataarray[o].postcount + ")"  
                      });
                      
                      restmarkerlow.addListener('click', function() {
                          infowindow.setContent(this.contentString);
                           infowindow.open(map, this);
                           map.setCenter(this.getPosition());
                      });
                    }
                    else if(30 < dataarray[o].postcount &&  dataarray[o].postcount < 70)
                    {
                        var  restmarkermed = new google.maps.Marker({
                        position: new google.maps.LatLng(dataarray[o].lat, dataarray[o].lng),
                        map: map,
                        icon: 'medrestaurants.png',
                        contentString: dataarray[o].location +  " (Number of Post : " + dataarray[o].postcount + ")"  
                      });
                      
                      restmarkermed.addListener('click', function() {
                          infowindow.setContent(this.contentString);
                           infowindow.open(map, this);
                           map.setCenter(this.getPosition());
                      });
                    }
                    else
                    {
                    var  restmarkerhigh = new google.maps.Marker({
                        position: new google.maps.LatLng(dataarray[o].lat, dataarray[o].lng),
                        map: map,
                        icon: 'highrestaurants.png',
                        contentString: dataarray[o].location +  " (Number of Post : " + dataarray[o].postcount + ")"  
                      });
                      
                      restmarkerhigh.addListener('click', function() {
                          infowindow.setContent(this.contentString);
                           infowindow.open(map, this);
                           map.setCenter(this.getPosition());
                      });
                    }
                     /* restmarker.addListener('click', function() {
                        
                        //Make ajax call and query via drill bit to get the info 
                        var restname = this.contentString;
                        var mark = this;
                        
                         $.ajax(
                            {
                                url: "getPostsCount",
                                data: {"restname" : restname},
                                success: function(pos)
                                   {
                                      // restmarker.contentString = " Number of Posts : " + pos.count;
                                       infowindow.setContent(mark.contentString + " (Number of Posts :" + pos + ")");
                                       infowindow.open(map, mark);
                                        map.setCenter(mark.getPosition());
                                   }
                          });  
                            
                           
                        });*/
                }
            }
          }
  
  $('#submit').click(function(e){
    var name = $('input[type="checkbox"]:checked')[0].id;
   // name = name.innerHTML;
    //Make ajax call and get restaurant and station position and plot on map
     $.ajax(
            {
                url: "getPosition",
                data: {"station" : name},
                success: function(pos)
                   {
                 
                  var arr = pos;
                  //var station = pos.stationnames;
                   initMap(arr,arr[arr.length - 1].lat,arr[arr.length - 1].lng); 
                   
                   }
          });   
  });
         
    </script>
